@{
    ViewData["Title"] = "Home Page";
}

<div class="flex-container-col">

    <div class="flex-container-row"
         style="margin-top:50px">
    <h1 class="Text1"
        style="font-size:50px">Hey There!</h1>

    <form method="post" action="/">
    <button type="submit"
            class="black_btn"
            style="padding:10px 30px;
                   margin-left: 680px;
                   margin-bottom: 10px;">Logout</button>
    </form>
    </div>

    <div class="Block dropShadow"></div>

</div>
